body{
    display: grid;
    text-align: center;
    grid-template-columns: 1;
    grid-template-rows: 1fr 2fr .25fr;
    margin: 0;
    background-image: url(/dist/images/battleshipBackground.gif);
    background-size:100% 130vh;
    background-repeat:no-repeat;
    font-family: 'Bangers', cursive;
    color: #233B48;
}

#startButton, #restartButton{    
    display: flex;
    width: max-content;
    font-size: 2rem;
    align-self: center;
    margin: auto;
    background-color: #FBC874;
    border-radius: 5px;
    border: none;
    opacity: 0.7;
    font-family: 'Bangers', cursive;
}

#startButton:hover, #restartButton:hover{
    opacity: 0.2;
}

header{
    grid-area: 1 / 1 / span 1  /span 1;  
    height: min-content; 
}

main{
    grid-area: 2 / 1 / span 1  /span 1;
    display:flex;    
    margin: auto;
    height: min-content;
    align-items: center;
    background-image: linear-gradient(75deg, #FBC874, #5794A6) ;    
    opacity: 0.8;
    border-radius: 5px;   
}

footer{
  grid-area: 3 / 1 / span 0  /span 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3A6572;
  opacity: 0.4;  
  z-index: -1;
}

#title{
    font-size: 4rem;
}
#playerBoard, #computerBoard {
    display: flex; 
    flex-direction: row;
    flex-grow: 0;
    background-color: black;
    opacity: 0.8;
}
.playerCellsDiv, .playerRowDiv, .computerRowDiv .computerCellsDiv{    
    width: 2em;
    height: 2em;  
    text-align: center;    
}
.playerCellsDiv, .computerCellsDiv{
    border: 1px solid white;
}

@media screen and (max-width: 815px) {
    main {
      flex-direction: column;
      margin: none;
      height: 115vh;
      padding: none; 
      width: 80vw;
    }

    body{
        background-repeat: repeat-y;
        background-size: auto;
        display: flex;
        flex-direction: column;
    }
    footer{
        z-index: 0;
    }

    .playerCellsDiv, .playerRowDiv, .computerRowDiv .computerCellsDiv{    
        width: 1.5rem;
        height: 1.5rem;  
        
         
    }
    #startButton, #restartButton{
        font-size: 1rem;
    }

    #title{
        font-size: 2rem;
    } 
  }